@import "../../sass/mixin";
@import "../../sass/mixins";
@import "../../sass/globals";

.About {
  width: 40em;
  padding: 1em;
  max-height: 90vh;
  overflow-y: auto;
  h2, h3, h4 {
    color: #444;
  }
  p:first-of-type {
    margin-top: 0.5em;
  }
  ol, ul, p {
    line-height: 1.75em;
  }
  a {
    color: $blue;
  }
}
