$blue: #1da1f2;
$navbar_height: 2.7rem;
$side_menu_width: 20rem;
$queue_height: 12vh;

$default_text_color: #333;

:root {
  --navbar_height: $navbar_height;
  --side_menu_width: $navbar_height;
}