$blue: #1da1f2;
$navbar_height: 2.7rem;
$side_menu_width: 20rem;
$controls_height: 6rem;

$default_text_color: #333;

:root {
  --navbar_height: $navbar_height;
  --side_menu_width: $side_menu_width;
  --controls_height: $controls_height;
}