$blue: #1da1f2;
$navbar_height: 2.7rem;
$side_menu_width: 21rem;
$controls_height: 6rem;

$default_text_color: #333;
$default_light_text_color: #b1b1b1;
$lighter_text_color: #bebebe;

:root {
  --navbar_height: 2.7rem;
  --side_menu_width: 21rem;
  --controls_height: 6rem;
}
