@import "./mixins";
@import "./globals";
@import "./mixin";

.App {
  background-color: #333;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: none;
  .loading-dots::after {
    display: inline-block;
    content: "  ";
    width: 3em;
    @include animation('loading 1s infinite');
  }
}

@include keyframes(loading) {
  0% {content: ".  "}
  50% {content: ".. "}
  100% {content: "..."}
}


// body {
//   &::before {
//     z-index: 2000;
//     display: block;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 2em;
//     line-height: 2em;
//     font-size: 1.5em;
//     vertical-align: middle;
//     content: "Desktop";
//     text-align: center;
//     color: #fff;
//     background-color: $blue;
//     opacity: 0.9;
//   }
//   @include bp-large {
//     &::before {
//       content: "bp-large";
//     }
//   }
//   @include bp-medium {
//     &::before {
//       content: "bp-medium";
//     }
//   }
//   @include bp-small {
//     &::before {
//       content: "bp-small";
//     }
//   }
// }
