@import "./mixins";
@import "./globals";
@import "./mixin";

.App {
  background-color: #333;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: none;
  .loading-dots::after {
    display: inline-block;
    content: "  ";
    width: 3em;
    @include animation('loading 1s infinite');
  }
  .delete-modal-content {
    .delete-button-bar {
      text-align: center;
      margin-top: 1em;
      button + button {
        margin-left: 1em;
      }
    }
    .btn {
      font-weight: 600;
      font-size: inherit;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      color: #333;
      padding: 0.3em 0.5em;
      transition: all 125ms ease;
      line-height: 1.1em;
      & > * {
        vertical-align: middle;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
        color: #111;
        background-color: rgba(black, 0.1);
      }
      &.blue {
        color: #eee;
        background-color: darken($blue, 5%);
        &:hover {
          color: #fff;
          background-color: $blue;
        }
      }
    }
  }
}

@include keyframes(loading) {
  0% {content:   ".    "}
  50% {content:  ". .  "}
  100% {content: ". . ."}
}


// body {
//   &::before {
//     z-index: 2000;
//     display: block;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 2em;
//     line-height: 2em;
//     font-size: 1.5em;
//     vertical-align: middle;
//     content: "Desktop";
//     text-align: center;
//     color: #fff;
//     background-color: $blue;
//     opacity: 0.9;
//   }
//   @include bp-large {
//     &::before {
//       content: "bp-large";
//     }
//   }
//   @include bp-medium {
//     &::before {
//       content: "bp-medium";
//     }
//   }
//   @include bp-small {
//     &::before {
//       content: "bp-small";
//     }
//   }
// }
