@import "../sass/globals";
@import "../sass/mixins";
@import "../sass/mixin";

.Sidebar {
  @include scrollbars(0.5em, #222);
  position: fixed;
  top: $navbar_height;
  height: 100vh-$navbar_height;
  width: $sidebar_width;
  // border-right: 2px solid #2a2a2a;
  overflow-x: hidden;
  overflow-y: auto;
  .mix-search-wrapper {
    z-index: 20;
    background-color: #333;
    position: fixed;
    width: $sidebar_width;
    padding: $sidebar_width*3/100;
    padding-top: 0;
    // width: 94%;
    // margin: 0 3% 3% 3%;
    input {
      font-size: inherit;
      font-family: inherit;
      padding-left: 2em;
      border: none;
      border-bottom: 1px solid #666;
      width: 100%;
      line-height: 2em;
      font-size: 1em;
      vertical-align: bottom;
      background-color: transparent;
      color: #fff;
      @include transition(all 125ms ease);
      @include placeholder {
        color: #666;
      };
      &:focus {
        outline: none;
        border-color: $blue;
        & + .searchIcon {
          color: $blue;
        }
      }
    }
    .searchIcon {
      @include transition(all 125ms ease);
      z-index: 1;
      color: #666;
      position: absolute;
      left: 0.4em;
      top: 0.4em;
      font-size: 1.2em;
      display: block;
    }
  }
  .mixes-wrapper {
    padding-top: 3em;
    height: 100%;
    overflow-y: auto;
  }
  div.li {
    width: 94%;
    height: 5em;
    padding: 0.2em 0.5em;
    margin: 3%;
    background-color: #3e3e3e;
    transition: all 125ms ease;
    color: #bebebe;
    @include box-shadow(1px 1px 3px rgba(black, 0.2));
    &:hover {
      background-color: #444;
      @include box-shadow(2px 3px 5px rgba(black, 0.2));
      cursor: pointer;
    }
    .title {
      font-weight: 600;
      font-size: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      height: 1.2em;
    }
    .description {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 3.4em;
      .span:not(:last-of-type)::after {
        content: ", ";
      }
    }
  }
}
