@import "../sass/globals";
@import "../sass/mixins";
@import "../sass/mixin";

.Queue {
  @include scrollbars(0.5em, #222);
  position: fixed;
  height: $queue_height;
  left: $sidebar_width;
  bottom: 0;
  width: 100vw-$sidebar_width;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  .wrapper {
    height: 100%;
    vertical-align: top;
  }
}

.Queue, .Queue .wrapper {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
