@import "../sass/globals";
@import "../sass/mixins";
@import "../sass/mixin";

.Queue {
  @include scrollbars(0.5em, #222);
  position: fixed;
  height: $queue_height;
  left: $sidebar_width;
  bottom: 0;
  width: 100vw-$sidebar_width;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  .wrapper {
    height: 100%;
    vertical-align: top;
  }
  div.li {
    $thumbnail_width: $queue_height*4/5*16/9;
    $thumbnail_height: $queue_height*4/5;
    display: inline-block;
    white-space: normal;
    width: $thumbnail_width + 20vh;
    height: $thumbnail_height;
    margin-top: $queue_height/20;
    margin-left: 0.75em;
    background-color: #3e3e3e;
    color: #bebebe;
    overflow: hidden;
    text-overflow: ellipsis;
    @include box-shadow(1px 1px 3px rgba(black, 0.2));
    &:hover:not(.selected) {
      background-color: #444;
      @include box-shadow(2px 3px 5px rgba(black, 0.2));
      cursor: pointer;
      .thumbnail .play-button {
        opacity: 0.7;
      }
    }
    &.selected {
      border-left: 1vh solid $blue;
      .info {
        width: 19vh
      }
    }
    .thumbnail {
      vertical-align: top;
      display: inline-block;
      height: 0;
      width: $thumbnail_width;
      padding-bottom: $thumbnail_height;
      background-color: #2e2e2e;
      img {
        width: 100%;
        height: auto;
      }
      .play-button {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        line-height: $thumbnail_height;
        height: $thumbnail_height;
        width: $thumbnail_width;
        text-align: center;
        vertical-align: middle;
        font-size: 4em;
        opacity: 0;
        color: #fff;
        @include transition(all 125ms ease);
      }
    }
    .info {
      vertical-align: top;
      display: inline-block;
      width: 20vh;
      padding: 0.5em 0.75em;
      text-overflow: ellipsis;
    }
    .title {
      height: 20%;
      font-size: 1.2em;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }
    .duration {
      font-size: 0.75em;
      font-weight: 400;
    }
    .description {
      height: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }
  }
}

.Queue, .Queue .wrapper {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}
