@import "../../sass/globals";
.Logo {
  font-size: inherit;
  font-weight: 800;
  vertical-align: top;
  .blue {
    color: $blue;
  }
  .grey {
    color: #aaa;
  }
  .material-icons {
    font-size: 1.5em;
    margin: 0 -0.2em 0 -0.2em;
    vertical-align: middle;
  }
}
