@import "../sass/mixin";
@import "../sass/globals";

.Navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  line-height: $navbar_height;
  height: $navbar_height;
  width: 100vw;
  vertical-align: middle;
  background-color: #3e3e3e;
  // border-bottom: 2px solid #2a2a2a;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.1em;
  color: #aaa;
  .nav-left,
  .nav-right {
    flex: 1;
    height: inherit;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0 0.4em;
  }
  .nav-left {
    text-align: left;
    button {
      margin-right: 0.3em;
    }
  }
  .nav-right {
    text-align: right;
    button {
      margin-left: 0.3em;
    }
  }
  .brand {
    font-size: 1.66em;
  }
  .nav-btn {
    font-weight: 600;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #bbb;
    padding: 0.3em 0.5em;
    transition: all 125ms ease;
    line-height: 1.1em;
    & > * {
      vertical-align: middle;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      color: #ccc;
      background-color: rgba(black, 0.3);
    }
    &.blue {
      color: #eee;
      background-color: darken($blue, 5%);
      &:hover {
        color: #fff;
        background-color: $blue;
      }
    }
  }
  .icon-btn {
    padding: none;
    border: none;
    background-color: transparent;
    color: #bbb;
    vertical-align: middle;
    & > * {
      vertical-align: middle;
    }
    &:hover {
      cursor: pointer;
      color: #ccc;
      background-color: transparent;
      text-shadow: 1px 1px 5px rgba(black, 0.3);
    }
    &:focus {
      outline: none;
    }
    .material-icons {
      font-size: 24px;
    }
  }
}
