@import "../sass/mixin";
@import "../sass/globals";

.Navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  line-height: $navbar_height;
  height: $navbar_height;
  width: 100vw;
  vertical-align: middle;
  background-color: #3e3e3e;
  // border-bottom: 2px solid #2a2a2a;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.3em;
  color: #aaa;
  .nav-left,
  .nav-right {
    flex: 1;
    height: inherit;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0 0.2em;
  }
  .nav-left {
    text-align: left;
  }
  .nav-right {
    text-align: right;
  }
  .brand {
    font-size: 1.45em;
  }
  button {
    font-weight: 600;
    font-size: inherit;
    border: none;
    border-radius: 0.3em;
    background-color: transparent;
    color: #bbb;
    padding: 0.2em 0.5em;
    transition: all 125ms ease;
    &:hover {
      cursor: pointer;
      color: #ccc;
      background-color: rgba(black, 0.3);
    }
    &.blue {
      color: #eee;
      background-color: $blue;
      &:hover {
        color: #fff;
        background-color: darken($blue, 5%);
      }
    }
  }
}
