@import "../sass/globals";
@import "../sass/mixin";

.Player {
  position: fixed;
  height: calc(calc(100vh - var(--navbar_height)) - var(--controls_height));
  width: 100vw;
  left: 0;
  top: $navbar_height;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  & > * {
    flex: 1 100%;
  }
  & > .emptyMessage {
    color: #4e4e4e;
  }
}
