@import "../sass/globals";
@import "../sass/mixin";

.Player {
  position: fixed;
  height: 100vh - $queue_height - $navbar_height;
  width: 100vw - $side_menu_width;
  left: $side_menu_width;
  top: $navbar_height;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  & > * {
    flex: 1 100%;
  }
  & > .emptyMessage {
    color: #4e4e4e;
  }
}
