@import "../../sass/globals";
@import "../../sass/mixins";

.Auth {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 20em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 0.3em 0.5em;
    line-height: 1.2em;
    font-size: 1em;
    vertical-align: bottom;
    margin-bottom: 1em;
    @include placeholder {
      color: #ddd;
    };
    &:focus {
      outline: none;
      border-color: $blue;
    }
  }
  .or {
    color: #aaa;
    margin: 1em;
  }
  .error {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-top: -0.5em;
    padding: 0.3em 0.2em;
    color: #da2b35;
    background-color: rgba(249, 57, 69, 0.2);
    width: 80%;
    line-height: 1.2em;
  }
  .btn {
    margin-left: 0 !important;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    width: 100%;
    background-color: darken($blue, 5%);
    border: none;
    padding: 0.3em 0.5em;
    transition: all 125ms ease;
    &:hover:not([disabled]) {
      cursor: pointer;
      background-color: $blue;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
}
