@import "../../sass/mixin";
@import "../../sass/mixins";
@import "../../sass/globals";

.Mixer {
  width: 40em;
  height: 80vh;
  @media (max-width: 40em) {
    width: 90vw;
  }

  input {
    font-size: inherit;
    font-family: inherit;
    padding-left: 1.5em;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    line-height: 1.2em;
    font-size: 1em;
    vertical-align: bottom;
    margin-bottom: 1em;
    background-color: transparent;
    @include placeholder {
      color: #ddd;
    };
    &:focus {
      outline: none;
      border-color: $blue;
    }
  }
  .searchIcon {
    color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
    display: block;
  }
  .channels {
    max-height: 24em;
    margin-bottom: 1em;
    overflow-y: auto;
  }
  .channel-result {
    margin: 0.7em 0.5em;
    @include box-shadow(1px 1px 5px rgba(black, 0.3));
    .channel {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      height: 5em;
      overflow: hidden;
      .thumbnail {
        @include flex(1);
      }
      .info {
        @include flex(1 1 75%);
        padding: 0.5em;
        .channel-title {
          font-weight: 600;
        }
      }
      .channel-playlist-toggle {
        @include flex(1 1 6%);
        text-align: center;
        &:hover {
          text-shadow: 1px 1px 3px rgba(black, 0.2);
          cursor: pointer;
        }
      }
    }
    .channel-playlists {
      background-color: #efefef;
      padding: 0.3em 0.5em;
    }
    .playlists-loading-state::after {
      content: "";
      min-height: 1em;
      display: block;
      @include animation('loading 2s infinite');
    }
  }
  .current-mix {
    max-height: 10em;
    overflow-y: auto;
  }
  .playlist-result {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.3em 0;
    .playlist-name {
      @include flex(1 1 90%);
    }
    .playlist-action {
      @include flex(1 1 10%);
      &:hover {
        text-shadow: 1px 1px 3px rgba(black, 0.2);
        cursor: pointer;
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .mix-footer {
    display: flex;
    align-items: center;
    .footer-left {
      @include flex(1 1 75%);
      text-align: left;
    }
    .footer-right {
      @include flex(1 1 25%);
      text-align: right;
    }
    padding: 0.3em 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    input {
      padding-left: 0;
      margin-bottom: 0;
      width: 100%;
      vertical-align: middle;
    }
    .btn {
      font-weight: 600;
      font-size: inherit;
      font-family: inherit;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      color: #bbb;
      padding: 0.3em 0.5em;
      transition: all 125ms ease;
      line-height: 1.1em;
      & > * {
        vertical-align: middle;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
        color: #ccc;
        background-color: rgba(black, 0.3);
      }
      &.blue {
        color: #eee;
        background-color: darken($blue, 5%);
        &:hover {
          color: #fff;
          background-color: $blue;
        }
      }
    }
  }
  .channel-empty-state {
    color: #eee;
    padding-top: 2em;
    text-align: center;
    font-size: 5em;
    height: 4em;
    font-weight: 700;
    overflow: hidden;
  }
}

@include keyframes(loading) {
  0% {content: "●"}
  50% {content: "● ●"}
  100% {content: "● ● ●"}
}
