@import "../../sass/globals";
@import "../../sass/mixins";
@import "../../sass/mixin";

.QueuedVideo {
  $width: $side_menu_width*94/100;
  --width: $width;
  $height: 4rem;
  --height: $height;
  $thumbnail_width: $height*16/9;
  --thumbnail_width: $thumbnail_width;
  $thumbnail_height: $height;
  --thumbnail_height: $thumbnail_height;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
  height: $height;
  margin: 3%;
  background-color: #3e3e3e;
  transition: all 125ms ease;
  color: #bebebe;
  @include box-shadow(1px 1px 3px rgba(black, 0.2));
  &:hover:not(.selected) {
    background-color: #444;
    @include box-shadow(2px 3px 5px rgba(black, 0.2));
    cursor: pointer;
    .thumbnail .play-button {
      opacity: 0.7;
    }
  }
  &.selected {
    --border_width: 0.4rem;
    border-left: var(--border_width) solid $blue;
    .info {
      width: calc(calc(var(--width) - var(--thumbnail_width)) - calc(var(--border_width) + 0.2rem));
    }
  }
  .thumbnail {
    vertical-align: top;
    display: inline-block;
    height: 0;
    width: $thumbnail_width;
    padding-bottom: $thumbnail_height;
    background-color: #2e2e2e;
    img {
      width: 100%;
      height: auto;
    }
    .play-button {
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      line-height: $thumbnail_height;
      height: $thumbnail_height;
      width: $thumbnail_width;
      text-align: center;
      vertical-align: middle;
      font-size: 4em;
      opacity: 0;
      color: #fff;
      @include transition(all 125ms ease);
    }
  }
  .info {
    vertical-align: top;
    display: inline-block;
    width: calc(calc(var(--width) - var(--thumbnail_width)) - 0.2rem);
    padding: 0.5em 0.35em;
    text-overflow: ellipsis;
  }
  .title {
    height: 20%;
    font-size: 1.2em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
  .duration {
    font-size: 0.75em;
    font-weight: 400;
  }
  .description {
    height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
}
